<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <!--移动端预览设置-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
    <title>博客管理</title>
</head>
<body>
    <!--导航-->
    <nav th:replace="admin/_fragments :: menu(0)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">Warms</h2>
                <a class="active m-item item m-mobile-hide" href="#"><i class="home icon"></i>博客</a>
                <a class="m-item item m-mobile-hide" href="#"><i class="idea icon"></i>分类</a>
                <a class="m-item item m-mobile-hide" href="#"><i class="tags icon"></i>标签</a>
                <div class="right menu m-item m-mobile-hide">
                    <div class="ui dropdown item">
                        <div class="text">
                            <img src="https://dummyimage.com/100x100/000/fff" alt="" class="ui avatar image">
                            Warms
                            <i class="dropdown icon"></i>
                        </div>
                        <div class="menu">
                            <a href="#" class="item">注销</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <a  class="ui menu toggle black icon button m-top-right m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>
    <div class="ui attached pointing menu">
        <div class="ui container">
            <div class="ui right menu">
                <a href="#" class="item">发布</a>
                <a href="#" class="active teal item">列表</a>
            </div>
        </div>
    </div>
    <!--内容-->
    <div class="m-container-small m-padded-tb-big">
       <div class="ui container">
           <div class="ui mini success message close" th:unless="${#strings.isEmpty(message)}">
               <i class="close icon"></i>
               <div class="header" th:text="_">提示:</div>
               <p th:text="${message}">现在你可以用你选择的用户名登录了</p>
           </div>
           <div class="ui form secondary segment">
               <input type="hidden" name="pageNo" value="1">
               <div class="inline fields">
                   <div class="field">
                       <input type="text" name="title" placeholder="标题">
                   </div>
                   <div class="field">
                       <div class="ui selection dropdown">
                           <input type="hidden" name="typeId">
                           <i class="dropdown icon"></i>
                           <div class="default text">分类</div>
                           <div class="menu">
                               <div th:each="type, iterStat : ${types}" th:text="${type.getName()}" class="item" data-value="1" th:data-value="${type.getId()}">错误日志</div>
                               <!--/*-->
                               <div class="item" data-value="2">开发手册</div>
                               <!--*/-->
                           </div>
                       </div>
                   </div>
                   <div class="field">
                       <div class="ui checkbox">
                           <input type="checkbox" id="recommend" name="recommend">
                           <label for="recommend">推荐</label>
                       </div>
                   </div>
                   <div class="field">
                       <button type="button" id="search-btn" class="ui mini teal basic button"><i class="search icon"></i>搜索</button>
                   </div>
               </div>
           </div>
           <div id="table-container">
               <table th:fragment="blogList" class="ui compact celled table">
                   <thead>
                   <tr>
                       <th></th>
                       <th>标题</th>
                       <th>类型</th>
                       <th>推荐</th>
                       <th>更新时间</th>
                       <th>操作</th>
                   </tr>
                   </thead>
                       <tbody>
                           <tr th:each="blog,iterStat: ${page.getPageData()}">
                               <td th:text="${iterStat.count}">1</td>
                               <td th:text="${blog.getTitle()}">可以练习清单</td>
                               <td th:text="${blog.getType().getName()}">认知升级</td>
                               <td th:text="${blog.getAppreciationOn()?'是':'否'}">是</td>
                               <td th:text="${blog.getGmtModified()}">2021-05-08 09:19</td>
                               <td>
                                   <a href="#" th:href="@{/admin/blog/input(id=${blog.getId()})}" class="ui mini teal button">编辑</a>
                                   <a href="#" th:href="@{/admin/blog/delete(id=${blog.getId()})}" class="ui mini red button">删除</a>
                               </td>
                           </tr>
                       </tbody>
                   <tfoot >
                       <tr>
                           <th colspan="6">
                               <div class="ui pagination menu" th:if="${page.getTotal() != 0}">
                                   <a onclick="page(this)" th:attr="data-page=${page.getPrevPage()}"  class="icon item">
                                       <i class="left chevron icon"></i>
                                   </a>
                                   <a th:each="pageNum: ${#numbers.sequence(page.startNav, page.endNav)}" th:text="${pageNum}" th:classappend="${pageNum==page.curpage?'active':''}" class="item">1</a>
                                   <!--/*-->
                                   <a class="item">2</a>
                                   <a class="item">3</a>
                                   <a class="item">4</a>
                                   <a class="item">5</a>
                                   <!--*/-->
                                   <a onclick="page(this)" th:attr="data-page=${page.getNextPage()}" class="icon item">
                                       <i class="right chevron icon"></i>
                                   </a>
                               </div>
                               <a href="#" th:href="@{/admin/blog/input}" class="ui right floated blue button">新增</a>
                           </th>
                       </tr>
                   </tfoot>
               </table>
           </div>
       </div>
    </div>
    <!--底部-->
    <footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">
                <div class="three wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img src="../../static/images/wechat.jpg" class="ui rounded image" alt="" style="width: 110px">
                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">最新博客</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">用户故事(User story)</a>
                        <a href="#" class="item">用户故事(User story)</a>
                        <a href="#" class="item">用户故事(User story)</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">联系我</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">用户故事(User story)</a>
                        <a href="#" class="item">用户故事(User story)</a>
                        <a href="#" class="item">用户故事(User story)</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header">Warms</h4>
                    <p class="m-text-thin m-text-space m-opacity-mini">这是我的个人博客会分享关于编程、写作、思考相关的任何内容，希望可以给来到这儿的人有所帮助...</p>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <p class="m-text-thin m-text-space m-opacity-tiny">CopyRight@2021-2019 warms</p>
        </div>
    </footer>
<!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.ui.dropdown').dropdown({
        on : 'hover'
    });
    $('.ui.checkbox').checkbox({
        onChecked: function() {
            console.log($("[name='isRecommend']").prop("checked"));
        },
        onUnchecked: function () {
            console.log(1);
            console.log($("[name='isRecommend']").prop("checked"));
        }
    });
    $('.message .close')
        .on('click', function() {
            $(this)
                .closest('.message')
                .transition('fade')
            ;
        })
    ;
    function page(obj) {
        $("[name='pageNo']").val($(obj).data("page"));
        loadData();
    }
    $("#search-btn").click(function () {
        $("[name='pageNo']").val(1);
        loadData();
    });
    function loadData() {
        $("#table-container").load(/*[[@{/admin/blog/search}]]*/"/admin/blog/search", {
            title : $("[name='title']").val(),
            typeId : $("[name='typeId']").val(),
            recommend : $("[name='recommend']").prop('checked'),
            pageNo : $("[name='pageNo']").val()
        });
    }
</script>
</body>
</html>