<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <!--移动端预览设置-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
    <title>管理后台</title>
</head>
<body>
    <!--导航-->
    <nav th:replace="admin/_fragments :: menu(3)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">Warms</h2>
                <a class="m-item item m-mobile-hide" href="#"><i class="home icon"></i>博客</a>
                <a class="m-item item m-mobile-hide" href="#"><i class="idea icon"></i>分类</a>
                <a class="m-item item m-mobile-hide" href="#"><i class="tags icon"></i>标签</a>
                <a class="m-item item m-mobile-hide" href="#"> <i class="file icon"></i>文件</a>
                <div class="right menu m-item m-mobile-hide">
                    <div class="ui dropdown item">
                        <div class="text">
                            <img src="https://dummyimage.com/100x100/000/fff" alt="" class="ui avatar image">
                            Warms
                            <i class="dropdown icon"></i>
                        </div>
                        <div class="menu">
                            <a href="#" class="item">注销</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a  class="ui menu toggle black icon button m-top-right m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>
    <!--内容-->
    <div class="m-container m-padded-tb-big m-main-middle">
        <div th:unless="${#strings.isEmpty(message)}" class="ui success message" >
            <i class="close icon"></i>
            <div class="header">提示:</div>
            <p th:text="${message}">上传成功!</p>
        </div>
        <div id="failed-message"  class="ui negative message" style="display: none">
            <i class="close icon"></i>
            <div class="header">提示:</div>
            <p id="faild-message">上传失败，请联系管理员!</p>
        </div>
        <div  class="ui container">
            <div class="ui segments">
                <div class="ui segment">
                    <div class="ui  progress success" id="progress-bar" style="display: none">
                        <div class="bar">
                            <div class="progress"></div>
                        </div>
                    </div>
                    <div class="ui grid">
                        <div class="four column row">
                            <div class="column">
                                <div class="ui centered two column grid">
                                    <div class="column">
                                        <input id="upload" type="file" name="files" th:attr="data-url=@{/admin/disk/upload}" data-url="/multifile" multiple style="display: none">
                                        <div class="ui inverted teal compact menu">
                                            <div class="ui simple dropdown item">
                                                上传
                                                <i class="dropdown icon"></i>
                                                <div class="menu">
                                                    <div id="btn-upload" data-parentid="-1" class="item">文件</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="ui compact menu">
                                            <div class="ui simple dropdown item">
                                                新建
                                                <i class="dropdown icon"></i>
                                                <div class="menu">
                                                    <div id="btn-mkdir" class="item">文件夹</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="filelist" th:fragment="list">
                    <div  class="ui attached segment">
                        <div class="ui grid">
                            <div class="two column row">
                                <div class="left floated column">
                                    <div  class="ui breadcrumb">
                                        <a th:attr="onclick='queryFile(this)'"  th:data-parentid="-1" class="section">全部文件</a>
                                        <div class="divider"> / </div>
                                        <th:block th:each="crumb,iterStat : ${crumbs}">
                                            <a th:attr="onclick='queryFile(this)'"  th:data-parentid="${crumb.parentId}" th:classappend="${iterStat.last?'active':''}" th:text="${crumb.name}" class="section">Home</a>
                                            <div class="divider"> / </div>
                                        </th:block>
                                        <!--/*-->
                                        <a class="section">Store</a>
                                        <div class="divider"> / </div>
                                        <div class="active section">T-Shirt</div>
                                        <!--*/-->
                                    </div>
                                </div>
                                <div class="ui right aligned right floated column">
                                    已全部加载共 <span th:text="${fileNum}" class="m-teal">68</span> 个
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui attached segment" style="padding: 0">
                        <table class="ui celled table">
                            <thead>
                                <tr>
                                    <th>文件名</th>
                                    <th>类型</th>
                                    <th>修改时间</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr th:each="row : ${files}">
                                <td th:if="${row.dir}" th:data-parentid="${row.id}" class="collapsing m-cursor-style" th:attr="onclick='queryFile(this)'">
                                    <i class="folder icon"></i>
                                    <span th:text="${row.name}">node_modules</span>
                                </td>
                                <td th:unless="${row.dir}" th:data-parentid="${row.id}" class="collapsing">
                                    <i class="file icon"></i>
                                    <span th:text="${row.name}">node_modules</span>
                                </td>
                                <td>
                                    <div class="ui two column grid">
                                        <div class="four column row">
                                            <div th:text="${row.type}" class="left floated column">
                                                Initial commit
                                            </div>
                                            <div  class="right floated column">
                                                <div class="ui dropdown">
                                                    <i class="dropdown icon"></i>
                                                    <div class="menu">
                                                        <div th:unless="${row.dir}" th:onclick="downloadFile([[${row.id}]])" class="item">
                                                            下载
                                                            <form th:id="'download-form-id-' + ${row.id}" action="/admin/disk/download" method="post" >
                                                                <input type="hidden" name="id" th:value="${row.id}">
                                                            </form>
                                                        </div>
                                                        <div th:unless="${row.dir}" th:onclick="copy([[${row.id}]])" class="item">
                                                            复制链接
                                                        </div>
                                                        <div th:onclick="deleteFile([[${row.id}]])" class="item">删除</div>
                                                        <div th:onclick="showRenameModel([[${row.id}]])" class="item">重命名</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td th:text="${row.gmtModified}" class="right aligned collapsing">10 hours ago</td>
                            </tr>
                            <!--/*-->
                            <tr >
                                <td>
                                    <i class="folder icon"></i> test
                                </td>
                                <td>Initial commit</td>
                                <td class="right aligned">10 hours ago</td>
                            </tr>
                            <!--*/-->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="model-newdir" class="ui mini modal">
            <div class="header">请输入文件夹名称</div>
            <div class="content">
                <form th:action="@{/admin/disk/mkdirs}" class="ui form" method="post">
                    <input type="hidden" name="parentId" value="-1" >
                    <div class="field">
                        <input type="text" name="name" placeholder="文件名">
                    </div>
                    <div class="ui right aligned container">
                        <button class="ui  teal button" type="submit">新建</button>
                    </div>
                </form>
            </div>
        </div>
        <div id="model-copy" class="ui mini modal">
            <div class="header">文件名如下</div>
            <div class="content">
                <div class="ui fluid input">
                    <input id="copy-name" >
                </div>
                <div class="ui right aligned container">
                    <button id="btn-copy" class="ui teal button copy" data-clipboard-target="#copy-name">复制</button>
                </div>
            </div>
        </div>
        <div id="model-rename" class="ui mini modal">
            <div class="header">请输入新名称</div>
            <div class="content">
                <input id="model-rename-id" type="hidden" name="id" value="-1">
                <div class="ui input">
                    <input id="model-rename-name" type="text" name="name" placeholder="新名称">
                </div>
                <div class="ui right aligned container">
                    <button onclick="renameFile()" type="button" class="ui teal button">提交</button>
                </div>
            </div>
        </div>
    </div>
    <!--底部-->
    <footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">
                <div class="three wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img src="../../static/images/wechat.jpg" class="ui rounded image" alt="" style="width: 110px">
                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">最新博客</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">用户故事(User story)</a>
                        <a href="#" class="item">用户故事(User story)</a>
                        <a href="#" class="item">用户故事(User story)</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">联系我</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">用户故事(User story)</a>
                        <a href="#" class="item">用户故事(User story)</a>
                        <a href="#" class="item">用户故事(User story)</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header">Warms</h4>
                    <p class="m-text-thin m-text-space m-opacity-mini">这是我的个人博客会分享关于编程、写作、思考相关的任何内容，希望可以给来到这儿的人有所帮助...</p>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <p class="m-text-thin m-text-space m-opacity-tiny">CopyRight@2021-2019 warms</p>
        </div>
    </footer>
<!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script th:src="@{/lib/upload/jquery.ui.widget.js}" src=  "../../static/lib/upload/jquery.ui.widget.js" ></script>
<script th:src="@{/lib/upload/jquery.iframe-transport.js}" src="../../static/lib/upload/jquery.iframe-transport.js" ></script>
<script th:src="@{/lib/upload/jquery.fileupload.js}" src="../../static/lib/upload/jquery.fileupload.js" ></script>
<script th:src="@{/lib/editormd/editormd.amd.min.js}" src="../../static/lib/editormd/editormd.amd.min.js" ></script>
<!--/*/</th:block>/*/-->
<script th:inline="javascript">
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.ui.dropdown').dropdown({
        on : 'hover'
    });
    $('#btn-mkdir').click(function () {
        $('#model-newdir')
            .modal('show');
    });
    function downloadFile(id) {
        var select = '#download-form-id-' + id;
        // console.log(select);
        $(select).submit();
    };
    function copy(id) {
        $.post(/*[[@{/admin/disk/copy}]]*/"/",{
            id:id
        }, function (res) {
            if (res.success) {
                $('#model-copy').modal('show')
                $('#copy-name').val(res.data);
                var clipboard = new ClipboardJS('.ui.teal.button.copy');
                clipboard.on('success', function (e) {
                    $('#model-copy').modal('hide')
                });
            } else {
                showUploadErr();
                $('#faild-message').text('复制链接失败请联系管理员');
            }
        });
    }

    function deleteFile(id) {
        $.post("/admin/disk/delete", {
            id : id
        },function (res) {
            if (res.success) {
                queryFile($('#btn-upload'));
            } else {
                showUploadErr();
                $('#faild-message').text('文件删除失败请联系管理员');
            }
        });
    };
    function showRenameModel(id) {
        $('#model-rename')
            .modal('show');
        $('#model-rename-id').val(id);
    };
    function renameFile() {
        $.post("/admin/disk/rename", {
            id : $('#model-rename-id').val(),
            name: $('#model-rename-name').val()
        },function (res) {
            if (res.success) {
                queryFile($('#btn-upload'));
            } else {
                showUploadErr();
                if (res.data != undefined){
                    $('#faild-message').text(res.data);
                } else {
                    $('#faild-message').text('文件重命名失败请联系管理员');
                }
            }
            $('#model-rename')
                .modal('hide');
        });
    }
    // 查询该文件夹下存在的文件
    function queryFile(obj) {
        var parentid = $(obj).data('parentid');
        console.log(parentid);
        $("[name='parentId']").val(parentid);
        $('#filelist').load(/*[[@{/admin/disk/listAllFile}]]*/"/admin/disk/listAllFile",{
            "parentId": parentid
        }, function () {
            // $(window).scrollTo($('#filelist'), 500);
            $('.ui.dropdown').dropdown({
                on : 'hover'
            });
            $('#btn-upload').data("parentid", parentid);
        });
    };
    $("#btn-upload").click(function () {
        $('#upload').fileupload({
            formData: [
                {
                    name: 'id',
                    value: $(this).data('parentid')
                }
            ]
        });
        $("#upload").click();
    })
    function showUploadErr() {
        $('#progress-bar').fadeOut(500);
        $('#failed-message').fadeIn(500);
        $('#failed-message .close')
            .on('click', function() {
                $(this)
                    .closest('.message')
                    .transition('fade')
                ;
            })
        ;
    }
    $(function () {
        $('#upload').fileupload({
            dataType: 'json',
            fail: function (e,data) {
                showUploadErr();
            },
            done: function (e, data) {
                if (data.result.success) {
                    $('#progress-bar').fadeOut(500);
                    queryFile($('#btn-upload'));
                } else {
                    showUploadErr();
                }
            },
            progressall: function (e, data) {
                $('#progress-bar').css('display',"block");
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#progress-bar').progress({
                    percent: progress
                });
            }
        });
    });
</script>
</body>
</html>