<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <!--移动端预览设置-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
    <title>博客管理登录</title>
</head>
<body>
    <div class="m-container-small m-verticla-middle">
        <div class="ui container" style="max-width: 30em !important;">
            <div class="center aligned column">
                <h2 class="ui teal image header">
                    <div class="content">
                        管理员后台登录
                    </div>
                </h2>
                <form class="ui large form" method="post" th:action="@{/admin/login}">
                    <div class="ui segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="email" placeholder="邮箱">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="password" placeholder="密码">
                            </div>
                        </div>
                        <button class="ui fluid large teal submit button">登录</button>
                    </div>
                    <div class="ui error message"></div>
                    <div class="ui mini negative message" th:unless="${#strings.isEmpty(message)}" th:text="${message}"></div>
                </form>
            </div>
        </div>
    </div>
<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<script>
    $('.ui.form').form({
        fields : {
            email : {
                identifier: 'email',
                rules:[{
                    type:'empty',
                    prompt:'请输入邮箱'
                }]
            },
            password : {
                identifier: 'password',
                rules:[{
                    type:'empty',
                    prompt:'请输入密码'
                }]
            }
        }
    });
</script>
</body>
</html>