<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <!--移动端预览设置-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
    <title>归档</title>
</head>
<body>
    <!--导航-->
    <nav th:replace="_fragments :: menu(3)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">Warms</h2>
                <a class="m-item item m-mobile-hide" href="#"><i class="home icon"></i>首页</a>
                <a class="m-item item m-mobile-hide" href="#"><i class="idea icon"></i>分类</a>
                <a class="active m-item item m-mobile-hide" href="#"><i class="tags icon"></i>标签</a>
                <a class="m-item item m-mobile-hide" href="#"><i class="clone icon"></i>归档</a>
                <a class="m-item item m-mobile-hide" href="#"><i class="info icon"></i>icon关于我</a>
                <div class="m-item right item m-mobile-hide">
                    <div class="ui icon inverted transparent input">
                        <input type="text" placeholder="Search...">
                        <i class="search icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <a  class="ui menu toggle black icon button m-top-right m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>
    <!--内容-->
    <div class="m-container-small m-padded-tb-big">
        <div class="ui container">
            <!--header-->
            <div class="ui top attached padded segment">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <h3 class="ui teal header">归档</h3>
                    </div>
                    <div class="right aligned column">
                        共 <h2 class="ui orange header m-inline-block m-text-thin" th:text="${archives.getTotalBlog()}">114</h2> 篇博客
                    </div>
                </div>
            </div>
            <th:block th:each="item,iterStat : ${archives.getArchives()}">
                <h3 class="ui center aligned header" th:text="${item.key}">2017</h3>
                <div class="ui segment">
                    <div  th:id="'archives-'+${iterStat.index}" class="ui fluid vertical menu" >
                        <div th:fragment="list">
                            <a href="#" target="_blank" class="item" th:each="blog : ${page == null ? item.value.pageData : page.pageData}">
                                <span>
                                    <i class="mini teal circle icon" ></i> <span th:text="${blog.title}">关于刻意练习的清单</span>
                                    <div class="ui teal basic left pointing label m-padding-mini" th:text="${blog.gmtCreated}" >9月03</div>
                                </span>
                                <div class="ui orange basic label m-padding-mini" th:text="${blog.flag}">原创</div>
                            </a>
                        </div>
                    </div>
                    <div class="ui center aligned container" th:if="${page == null ? (item.value.pageCount > 1) : (page.pageCount > 1)}">
                        <div class="ui mini pagination menu">
                            <a class="ui item" th:onclick="loadPage(this,[[${iterStat.index}]],[[${item.key}]],[[${page == null ? item.value.prevPage : page.prevPage}]],[[${page == null ? item.value.pageSize : page.pageSize}]])">
                                <i class="ui angle left icon"></i>
                            </a>
                            <a class="ui item" th:onclick="loadPage(this,[[${iterStat.index}]],[[${item.key}]],[[${page == null ? item.value.nextPage : page.nextPage}]],[[${page == null ? item.value.pageSize : page.pageSize}]])">
                                <i class="ui angle right icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </th:block>
            <!--/*-->
            <h3 class="ui center aligned header">2016</h3>
            <div class="ui fluid vertical menu">
                <a href="#" target="_blank" class="item">
                    <span>
                        <i class="mini teal circle icon"></i> 关于刻意练习的清单
                        <div class="ui teal basic left pointing label m-padding-mini" >9月03</div>
                    </span>
                    <div class="ui orange basic label m-padding-mini" >原创</div>
                </a>
                <a href="#" target="_blank" class="item">
                    <span>
                        <i class="mini teal circle icon"></i> 关于刻意练习的清单
                        <div class="ui teal basic left pointing label m-padding-mini" >9月03</div>
                    </span>
                    <div class="ui orange basic label m-padding-mini" >原创</div>
                </a>
                <a href="#" target="_blank" class="item">
                    <span>
                        <i class="mini teal circle icon"></i> 关于刻意练习的清单
                        <div class="ui teal basic left pointing label m-padding-mini" >9月03</div>
                    </span>
                    <div class="ui orange basic label m-padding-mini" >原创</div>
                </a>
                <a href="#" target="_blank" class="item">
                    <span>
                        <i class="mini teal circle icon"></i> 关于刻意练习的清单
                        <div class="ui teal basic left pointing label m-padding-mini" >9月03</div>
                    </span>
                    <div class="ui orange basic label m-padding-mini" >原创</div>
                </a>
            </div>
            <!--*/-->
        </div>
    </div>
    <!--底部-->
    <footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">
                <div class="three wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img src="../static/images/wechat.jpg" class="ui rounded image" alt="" style="width: 110px">
                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">最新博客</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">用户故事(User story)</a>
                        <a href="#" class="item">用户故事(User story)</a>
                        <a href="#" class="item">用户故事(User story)</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">联系我</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">用户故事(User story)</a>
                        <a href="#" class="item">用户故事(User story)</a>
                        <a href="#" class="item">用户故事(User story)</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header">Warms</h4>
                    <p class="m-text-thin m-text-space m-opacity-mini">这是我的个人博客会分享关于编程、写作、思考相关的任何内容，希望可以给来到这儿的人有所帮助...</p>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <p class="m-text-thin m-text-space m-opacity-tiny">CopyRight@2021-2019 warms</p>
        </div>
    </footer>
<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    function loadPage(obj, index, year,pageNo, pageSize) {
        console.log(pageNo, pageSize)
        console.log( $(obj))
        var list = $(obj).parent().parent().prev();
        console.log(list.attr('id'))
        console.log(year)
        console.log(index)
        list.load(/*[[@{/index/archives}]]*/"/index/archives",{
            index: index,
            year: year,
            pageNo: pageNo,
            pageSize: pageSize
        })
    }
</script>
</body>
</html>