<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <!--移动端预览设置-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
    <title>标签</title>
</head>
<body>
    <!--导航-->
    <nav th:replace="_fragments :: menu(2)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">Warms</h2>
                <a class="m-item item m-mobile-hide" href="#"><i class="home icon"></i>首页</a>
                <a class="m-item item m-mobile-hide" href="#"><i class="idea icon"></i>分类</a>
                <a class="active m-item item m-mobile-hide" href="#"><i class="tags icon"></i>标签</a>
                <a class="m-item item m-mobile-hide" href="#"><i class="clone icon"></i>归档</a>
                <a class="m-item item m-mobile-hide" href="#"><i class="info icon"></i>icon关于我</a>
                <div class="m-item right item m-mobile-hide">
                    <div class="ui icon inverted transparent input">
                        <input type="text" placeholder="Search...">
                        <i class="search icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <a  class="ui menu toggle black icon button m-top-right m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>
    <!--内容-->
    <div class="m-container-small m-padded-tb-big m-main-middle">
        <div class="ui container">
            <!--header-->
            <div class="ui top attached segment">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <h3 class="ui teal header">标签</h3>
                    </div>
                    <div class="right aligned column">
                        共 <h2 th:text="${tags.size()}" class="ui orange header m-inline-block m-text-thin">14</h2> 个
                    </div>
                </div>
            </div>
            <!--标签集合-->
            <div class="ui attached segment m-padded-tb-large">
                <div th:each="tag : ${tags}" href="#"   class="ui teal basic large left pointing label m-margin-tb-tiny">
                    <a th:href="@{/index/tag(tagId=${tag.id})}" th:text="${tag.name}">方法论</a>
                    <div th:text="${tag.total}" class="detail">23</div>
                </div>
                <!--/*-->
                <a href="#" class="ui basic large left pointing label m-margin-tb-tiny">
                    方法论
                    <div class="detail">23</div>
                </a>
                <!--*/-->
            </div>
            <!--文章列表-->
            <div class="ui teal top attached segment">
                <div th:each="card : ${page.pageData}" class="ui padded vertical segment m-padded-tb-large m-mobile-clear">
                    <div class="ui mobile reversed stackable grid">
                        <div class="row">
                            <div class="eleven wide column">
                                <h3 th:text="${card.title}" class="ui header">你知道什么是真正的财富自由吗</h3>
                                <p class="m-text">正确做好每一件事情的前提是清晰、正确的理解目标。而事实是我们很多人很多时候没有对目标的正确定义</p>
                                <div class="ui stackable grid">
                                    <div class="eleven wide column">
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img src="https://dummyimage.com/100x100/000/fff" alt="" class="ui avatar image">
                                                <div class="content">
                                                    <div class="header"><a href="#" th:text="${card.username}">Warms</a></div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="middle aligned">
                                                    <i class="calendar icon"></i><span th:text="${card.gmtModified}">2021-05-06</span>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="middle aligned">
                                                    <i class="eye icon"></i> <span th:text="${card.view}">123</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="#" th:text="${card.type.name}" class="ui teal basic label m-padding-mini m-text-thin">认知升级</a>
                                    </div>
                                </div>
                            </div>
                            <div class="five wide column">
                                <a th:href="@{/index/show/{id}(id=${card.id})}"  href="#" target="_blank">
                                    <img src="https://dummyimage.com/800x450/000/fff" alt="" class="ui rounded image">
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="column">
                                <a th:each=" tagName : ${card.tagNames}" href="#" class="ui teal basic left pointing label m-padding-mini m-text-thin" th:text="${tagName}">方法论</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/*-->
                <div class="ui padded vertical segment m-padded-tb-large m-mobile-clear">
                    <div class="ui mobile reversed stackable grid">
                        <div class="row">
                            <div class="eleven wide column">
                                <h3 class="ui header">你知道什么是真正的财富自由吗</h3>
                                <p class="m-text">正确做好每一件事情的前提是清晰、正确的理解目标。而事实是我们很多人很多时候没有对目标的正确定义</p>
                                <div class="ui stackable grid">
                                    <div class="eleven wide column">
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img src="https://dummyimage.com/100x100/000/fff" alt="" class="ui avatar image">
                                                <div class="content">
                                                    <div class="header"><a href="#" class="header">Warms</a></div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i>2021-05-06
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> 123
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="#" class="ui teal basic label m-padding-mini m-text-thin">认知升级</a>
                                    </div>
                                </div>
                            </div>
                            <div class="five wide column">
                                <a href="#" target="_blank">
                                    <img src="https://dummyimage.com/800x450/000/fff" alt="" class="ui rounded image">
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="column">
                                <a href="#" class="ui teal basic left pointing label m-padding-mini m-text-thin">方法论</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--*/-->
            </div>
            <!--分页-->
            <div class="ui bottom attached segment">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <a href="" class="ui mini teal basic button">上一页</a>
                    </div>
                    <div class="right aligned column">
                        <a href="" class="ui mini teal basic button">下一页</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--底部-->
    <footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">
                <div class="three wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img src="../static/images/wechat.jpg" class="ui rounded image" alt="" style="width: 110px">
                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">最新博客</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">用户故事(User story)</a>
                        <a href="#" class="item">用户故事(User story)</a>
                        <a href="#" class="item">用户故事(User story)</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">联系我</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">用户故事(User story)</a>
                        <a href="#" class="item">用户故事(User story)</a>
                        <a href="#" class="item">用户故事(User story)</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header">Warms</h4>
                    <p class="m-text-thin m-text-space m-opacity-mini">这是我的个人博客会分享关于编程、写作、思考相关的任何内容，希望可以给来到这儿的人有所帮助...</p>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <p class="m-text-thin m-text-space m-opacity-tiny">CopyRight@2021-2019 warms</p>
        </div>
    </footer>
<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
</script>
</body>
</html>